#txt-input {
    display: block;
    width: 90%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem ;
}

.txt-output {
    border: 1px solid black;
    height: 10vh;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
}